.header {
  display: flex;
  color: white;
  text-align: center;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

img{
  height: 40px;
  width: 80px;
  margin: 10px;

}
