<section class="home">
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
  <app-card-cat class="card-cat"></app-card-cat>
</section>
