$bg-color: #5c8788;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: $bg-color;
  cursor: url('/assets/cat-cursor.cur'), auto;
}

a:hover{
  cursor: url('/assets/cat-cursor-pointer.cur'), auto;
}
